body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "GT-America-Standard", "Helvetica Neue", Helvetica, sans-serif;
  text-align: left;
  color: black;
  font-size: 14px;
}
.cartMainContainer {
  background-color: #f9f9f9;
}
.cardDataLeft {
  margin-top: 20px;
}
.cartpart {
  padding: 0px 82px;
  background-color: rgb(249, 249, 249);
  font-size: 16px;
  font-family: inherit;
  max-width: 1050px;
  column-gap: 5%;
  padding: 0px 3.73%;
  line-height: initial;
  display: grid;
  margin: 0px auto;
  grid-template-columns: 55% 45%;
}
.txtofcartRight {
  margin-left: 10px;
}

.rightTopData {
  display: flex;
}
.rigth-sideTextDiv {
  display: flex;
}
.txtheadbig {
  margin: 12px 1px 0px;
}
.spanCountdiv {
  margin: 15px 1px 0px;
  font-size: 12px;
}
.itemsShowsbagtxt {
  font-size: 12px;
  text-align: left;
  margin: 2px 1px;
}
.mainProdcartDataDiv {
  height: 70%;
  margin-top: 20px;
  background-color: white;
}
.mainProdCartimg {
  display: flex;
  height: 162px;
  margin: 8px;
}
#imgcartprod {
  width: 92px;
  cursor: pointer;
  height: 162px;
}
.rpodDtailesDiv {
  width: 100%;
  padding: 10px;
}
.brandname {
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  white-space: nowrap;
}
.brandtitle {
  font-weight: 500;
  font-size: 12px;
  margin-top: 5px;
  color: rgb(53, 53, 53);
}
.brandprice {
  font-weight: 700;
  font-size: 12px;
  margin-top: 10px;
}
.myWhishlistdiv {
  margin-top: 48px;
  height: 155px;
  padding-top: 15px;
  border: 0px;
  border-top: 1px solid rgb(182, 182, 182);
}
.whishlistbody {
  padding: 19px 12px;
  display: flex;
  background-color: white;
}
.datatitled {
  margin: 0px 10px;
}
.mWhishLiustjs {
  margin: 0px;
  margin-top: 10px;
}
.secondDtt {
  font-size: 12px;
  margin: 0px;
  margin-top: 5px;
}
.editline {
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}
.checkOut {
  height: 50px;
  width: 80%;
  margin: auto;
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: #db3b14;
  cursor: pointer;
  border: 0px;
}
